{% extends 'base.html' %}

{% block title %} Blog Page {% endblock %}

{% block body %}
    <h1>Posts</h1>
    {% for post in posts %}
        <div class="col-md-8">
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <small>Author:</small>
                    <a class="mr-2" style="text-decoration: none;" href="#">{{ post.author }},</a>
                    <small class="text-muted">Posted: {{ post.date_posted|date:"F d, Y"}}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post_info' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content|slice:":100"}}...<a href="{% url 'post_info' post.id %}">Continue Reading</a></p>
                </div>
                {% if user.is_superuser %}
                    <a class="btn btn-danger" href="{% url 'delete_post' post.id %}">Delete Post</a>
                {% endif %}
            </article>
        </div>
    {% endfor %}
{% endblock %}



