{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>About us</h1>
  <p class="about">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quam
    exercitationem molestiae quibusdam, doloribus commodi repellat voluptatibus
    cumque, debitis facere ad asperiores, ipsam tenetur in pariatur! Alias,
    natus? Voluptatem, dolorem? Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Unde ea ab ex autem, vel quos dolorum mollitia iste
    excepturi facilis ratione consequatur adipisci praesentium illo, recusandae
    doloremque ipsum omnis rem! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Debitis, et ratione quisquam asperiores at magnam rem
    optio error dolorem recusandae obcaecati. Neque eum autem ad natus labore
    maxime modi architecto? Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Modi eius iusto at laborum earum nam quae voluptatem laboriosam
    excepturi fugit vero non, praesentium vitae itaque obcaecati recusandae
    quaerat aliquid incidunt! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Iure architecto quis nulla. Repellat iure, aliquid possimus,
    recusandae sunt nam quos omnis perspiciatis quas ipsam minus alias cum
    consequatur, unde fuga.
  </p>
  <div class="links">
    <p>Click here to load about page --></p>
    <a class="btn btn-primary" href="{% url 'index' %}" role="button"
      >Main Page</a
    >
  </div>
</div>
{% endblock %}
